@import "../styles.less";
.footer{
  vertical-align: bottom;
	background: url("../assets/img/solu/footer_bg.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: #fff;
  text-align: center;
  box-shadow: @default-shadow;
  margin-top: 15px;
  height: 50px;
  max-height: 50px;
  width: 100%;
  display: table;
}

.footer-text{
  display: table-cell;
  vertical-align: middle;
}

.dev-build{
  background-color: @color-highlight;
  text-align: center;
  color: #fff;
  font-family: @font-family-paragraph;
  font-size: @text-size-large;
}

.page-base{
  width: 100%; 
  vertical-align: top;
}

.container{
  width: 100%;
}

.team-tabs{
  height:150px;
  background-color:yellow;
}

.grid-layout{
  height:700px;
  background-color:orange;
}

.week-tabs{
  height:50px;
  background-color:purple;
}

.tools-dropdown{
  height:50px;
  background-color:blue;
}


.app-base{
  display: table;
  	margin: 0 auto;
  min-height: 300px;
  padding: 30px 40px 0px;
  width: 100%;

  @media (max-width: 35em){
    width: 100%;
    padding: 0px;
  }
}
