<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

<div class="page-base">
  <solu-header #header></solu-header>
  <div class="container-fluid">
    <div >
      
      <h1>
        Name of User
      </h1>
      <br>
      <div class="row justify-content-end">
        <div class="col-2">
          <div class="tools-dropdown">
            Tools Here
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-3">
          <div class="week-tabs">
            Week Tabs Here
          </div>
        </div>
        <div class="col-5"></div>
      </div>
      <br>
      <div class="row" >
        <div class="col-2">
          <div class="team-tabs">
            Team Tabs
          </div>
        </div>
        <div class="col-8">
          <div class="grid-layout">
            Grid Layout
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="footer">
    <div class = "footer-text">
        &copy; 2017 Sol&#252; Technology Partners. All Rights Reserved.
    </div>
</div>

