@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/dist/css/bootstrap-theme.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import "~primeng/resources/primeng.min.css"; 

/*********************************************/
/*            GLOBAL STYLES                  */
/*********************************************/


// Color theme
@color-brand: #0b2d53;
@color-highlight: #a01c20;
@color-header: #313131;
@color-headerlight: #464646;

// Font theme
@font-family-header: roboto;
@font-family-paragraph: segoe;
@text-size-large: 24px;
@text-size-sublarge: 22px;
@text-size-normal: 13px;
@default-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);

.large-text-mixin{
  font-size: @text-size-sublarge;
  font-family: @font-family-header;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: .25px;
}

.page-header-text{
  font-size: @text-size-large;
  font-family: @font-family-header;
  font-weight: bold;
  text-transform: uppercase;
  color: @color-brand;
  letter-spacing: .25px;
  display: inline;
}


@media (max-width: 35em) {
  body .ui-paginator {
    padding: 5px;
    width: 100%;
    align-self: center;
    background-color: #fff;
    margin-left: 0;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  }

  .ui-datatable-reflow .ui-datatable-data > tr > td {
    text-align: left;
    display: block;
    border: 0 none;
    width: 100% !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    clear: left;
  }
}

.ui-chkbox .ui-chkbox-box.ui-state-active {
  border: none;
  background-color: @color-highlight;
  color: #ffffff;
}

.ui-chkbox .ui-chkbox-icon {
  line-height: inherit;
  display: block;
  -webkit-text-stroke: 1px #a90329;
  font-size: 15px;
  position: relative;
  top: 1px;
}

.ui-datatable thead th {
  text-align: left;
}

.ui-datatable thead tr {
  border-width: 0;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
}

.ui-datatable .ui-datatable-data > tr > td,
.ui-datatable .ui-datatable-tfoot > tr > td,
.ui-datatable .ui-datatable-thead > tr > th {
  border-color: #dddddd;
  box-sizing: border-box;
  padding: 0.25em 0.5em;
  overflow: visible;
  border-width: 0;
  border-style: solid;
  background-color: #fff;
  font-size: 15px;
}

.ui-datatable .ui-datatable-data > tr:last-child > td:first-child {
  border-radius: 0 0 0 5px;
}

.ui-datatable .ui-datatable-data > tr:last-child > td:last-child {
  border-radius: 0 0 5px 0;
}

.ui-datatable .ui-datatable-data > tr > td a {
  color: #404040;
}

.ui-datatable .ui-datatable-data > tr > td a:hover {
  color: #000;
}

.ui-datatable .ui-sortable-column-icon {
  float: right;
  margin-left: 0.125em;
}

ui-datatable-reflow .ui-datatable-data > tr > td {
  text-align: left;
  display: block;
  border: 0 none;
  width: 100% !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  clear: left;
}

.undefined {
  border-collapse: separate !important;
  width: 100%;
  table-layout: fixed;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: #ddd 1px solid;
}

.ui-dialog .ui-dialog-titlebar-close span {
  font-size: @text-size-large;
  color: @color-highlight;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #eeeeee;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.ui-dialog {
  margin: none;
  top: 30px !important;
  max-width: 690px;
  width: 95% !important;
}

.ui-button-icon-only .fa,
.ui-button-text-icon-left .fa,
.ui-button-text-icon-right .fa {
  color: #fff;
}

.slimscroll-wrapper {
  width: 100% !important;
}

.open-modal {
  overflow: hidden;
}

.center-content {
  text-align: center;
}

.mat-raised-button {
  font-family: roboto, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-decoration: none;
  font-size: 18px !important;
  border-radius: 3px;
  color: #fff !important;
  background-color: @color-highlight;
  min-width: 130px !important;
  margin-left: 10px !important;
}
/*********************************************/
/*            MATERIAL STYLES                */
/*********************************************/
.mat-focused .mat-input-placeholder {
  color: @color-brand;
}

.mat-focused .mat-input-placeholder.mat-accent {
  color: @color-highlight
}

.mat-focused .mat-input-placeholder.mat-warn {
  color: @color-highlight
}

.mat-input-element:disabled {
  color: rgba(0,0,0,.38);
}

.mat-focused .mat-input-placeholder.mat-float .mat-placeholder-required,
input.mat-input-element:-webkit-autofill+.mat-input-placeholder .mat-placeholder-required {
  color: @color-highlight
}

.mat-input-underline {
  border-color: rgba(0,0,0,.12);
}

.mat-input-underline .mat-input-ripple {
  background-color: @color-brand
}

.mat-input-underline .mat-input-ripple.mat-accent {
  background-color: @color-highlight
}

.mat-input-underline .mat-input-ripple.mat-warn {
  background-color: @color-highlight
}

.mat-input-invalid .mat-input-placeholder,
.mat-input-invalid .mat-placeholder-required {
  color: @color-highlight
}

.mat-input-invalid .mat-input-underline {
  border-color: @color-highlight
}

.mat-input-invalid .mat-input-ripple {
  background-color: @color-highlight
}

.mat-input-error {
  color: @color-highlight
}

.mat-list .mat-list-item,
.mat-nav-list .mat-list-item {
  color: #000;
}

.mat-input-placeholder {
  font-weight: normal;
  color: #666666;
  font-weight: normal;
}

.mat-select-trigger {
  color: #666666;
  font-size: 15px;
}

.mat-input-placeholder-wrapper {
  font-size: 15px;
  font-weight: normal;
  top: -6px;
}

.mat-input-subscript-wrapper {
  margin-top: 0.3em;
}

.mat-select:focus:not(.mat-select-disabled) .mat-select-trigger {
  color: @color-brand;
}

.mat-select:focus:not(.mat-select-disabled) .mat-select-underline {
  color: @color-brand;
  height: 2px;
}

.mat-option.mat-selected {
  color: @color-brand;
}

.mat-select-placeholder {
  font-weight: 700;
}

.mat-select {
  width: 100%;
}

.mat-select-placeholder.mat-floating-placeholder {
  top: -16px !important;
}

.mat-button,
.mat-fab,
.mat-icon-button,
.mat-mini-fab,
.mat-raised-button {
  font-size: 16px;
  min-width: 130px;
  margin-left: 10px;
}

.mat-pseudo-checkbox-checked.mat-primary,
.mat-pseudo-checkbox-indeterminate.mat-primary {
  background: @color-brand;
}

.view .mat-input-underline {
  display: none;
}
/**
 *.view is a class applied to Material text fields and inputs that is meant to be pure display
 **/

.view .mat-select-value-text {
  color: #555555;
}

.view .mat-select-underline {
  display: none;
}

.view .mat-select-arrow {
  display: none;
}

.view .mat-input-element {
  color: #555555;
}

.view.empty .mat-select {
  display: none;
}

.view.empty .mat-input-container {
  display: none;
}

.mat-datepicker-content {
  width: 100%;
}



.mat-calendar-body-selected {
  background-color: @color-brand;
  color: rgba(255,255,255,.87);
}

.mat-select-placeholder {
  position: relative;
  padding: 0 2px;
  transform-origin: left top;
  flex-grow: 1;
  font-weight: normal;
}

.mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-underline {
  background-color: @color-brand;
}

.mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-trigger {
  color: @color-brand;
}

.mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-arrow {
  color: @color-brand;
}

.mat-select:not(:focus).ng-invalid.ng-touched:not(.mat-select-disabled) .mat-select-underline {
  background-color: @color-highlight;
  width: 100%;
  height: 2px;
}

.mat-select:not(:focus).ng-invalid.ng-touched:not(.mat-select-disabled) .mat-select-arrow {
  color: @color-highlight;
}

.mat-select:not(:focus).ng-invalid.ng-touched:not(.mat-select-disabled).mat-primary .mat-select-trigger {
  color: @color-highlight;
  width: 100%;
}

.mat-calendar-body-selected {
  background-color: @color-brand;
  color: rgba(255,255,255,.87);
}

/*********************************************/
/*            END GLOBAL STYLES              */
/*********************************************/

/*********************************************/
/*            BODY STYLES                    */
/*********************************************/

body {
  background-color: #ffffff;
  font-family: segoe;
  font-size: @text-size-normal;
  margin: 0;


  .ui-widget,
  .ui-widget .ui-widget,
  .ui-widget button,
  .ui-widget input,
  .ui-widget select,
  .ui-widget textarea {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-decoration: none;
    font-size: 1em;
    border-radius: 3px;
    color: #000;
  }

  .ui-widget-overlay {
    background-color: #424242;
    opacity: 0.7;
    filter: alpha(opacity=70);
    z-index: 10 !important;
  }

  .header-checkbox .ui-chkbox .ui-chkbox-box {
    border-color: #fff;
    background-color: @color-header;
  }

  .header-checkbox .ui-chkbox .ui-chkbox-box.ui-state-active {
    border: 2px solid #fff;
    background-color: @color-header;
  }

  .header-checkbox .ui-chkbox .ui-chkbox-icon {
    -webkit-text-stroke: 1px @color-header;
    font-size: @text-size-normal;
    transform: translate(0px, -3px);
  }

  .mat-calendar {
    font-family: @font-family-header;
  }
  
  .ui-chkbox .ui-chkbox-box {
    border: 2px solid @color-brand;
    background-color: #ffffff;
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
    width: 16px;
    height: 16px;
    line-height: 1.125em;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
  }

  .ui-widget-content {
    border-color: #ffffff;
    color: #000000;
    border-radius: 5px;
    padding-left: 0;
    padding-right: 0;
    border-width: 0 !important;
  }

  .ui-widget-header {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-weight: normal;
    font-family: roboto;
    font-size: 14px;
  }

  .ui-widget-content .ui-datatable-even,
  .ui-widget-content .ui-datatable-odd {
    border-color: #dddddd;
    color: #000000;
    font-size: 15px;
  }

  .ui-paginator .ui-paginator-first,
  .ui-paginator .ui-paginator-last,
  .ui-paginator .ui-paginator-next,
  .ui-paginator .ui-paginator-prev {
    color: @color-header;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    min-height: 0.875em;
    min-width: 2em;
    padding: 0.5em;
    vertical-align: top;
    border: 0;
  }

  .ui-paginator .ui-paginator-first:hover,
  .ui-paginator .ui-paginator-last:hover,
  .ui-paginator .ui-paginator-next:hover,
  .ui-paginator .ui-paginator-prev:hover {
    background-color: #f4f3f4;
    border: 0;
  }

  .ui-paginator .ui-paginator-first {
    -moz-border-radius: 3;
    -webkit-border-radius: 3;
    border-radius: 3;
  }

  .ui-paginator .ui-paginator-prev {
    -moz-border-radius: 3;
    -webkit-border-radius: 3;
    border-radius: 3;
  }

  .ui-paginator .ui-paginator-next {
    -moz-border-radius: 3;
    -webkit-border-radius: 3;
    border-radius: 3;
  }

  .ui-paginator .ui-paginator-last {
    -moz-border-radius: 3;
    -webkit-border-radius: 3;
    border-radius: 3;
  }

  ui-paginator-rpp-options ui-widget ui-state-default {
    color: #000;
  }

  .ui-paginator .ui-paginator-pages .ui-paginator-page {
    padding: 0.5em 0.625em;
    min-width: 2em;
    color: #000000;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    border-radius: 3px;
    border-width: 0;
  }

  .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    color: #ffffff;
    background-color: @color-highlight;
    border-radius: 3px;
    border-width: 0;
  }

  .ui-paginator .ui-paginator-pages .ui-paginator-page:hover.ui-state-active {
    background-color: @color-highlight;
    color: #fff;
  }

  .ui-paginator {
    display: table;
    padding: 5px 15px;
    margin: auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    margin-top: 15px;
  }

  .ui-paginator a {
    outline: none;
  }
  /*********************************************/
  /*            DATATABLE STYLES               */
  /*********************************************/
  .ui-datatable .ui-datatable-thead > tr > th {
    background-color: @color-header;
    padding: 1em;
    border-width: 0;
    color: #ffffff;
    height: 50px;
    -webkit-transition: background-color 0.1s;
    transition: background-color 0.1s;
    transition-timing-function: ease-in-out;
  }

  .ui-datatable .ui-datatable-thead > tr > th:first-child {
    border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
  }

  .ui-datatable .ui-datatable-thead > tr > th:last-child {
    border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
  }

  .ui-datatable thead th.ui-sortable-column:not(.ui-state-active):hover {
    background-color: @color-headerlight;
  }

  .ui-datatable thead th.ui-state-active {
    background-color: @color-headerlight;
    border-color: #c7c7c7;
    color: #ffffff;
  }

  .ui-datatable .ui-datatable-data tr {
    border-width: 0;
    -webkit-transition: background-color 0.1s;
    transition: background-color 0.1s;
    transition-timing-function: ease-in-out;
  }

  .ui-datatable .ui-datatable-data tr:last-child {
    border-radius: 0 0 5px 5px;
  }

  .ui-datatable .ui-datatable-data tr.ui-datatable-even {
    background-color: #ffffff;
  }

  .ui-datatable .ui-datatable-data tr.ui-datatable-even:hover {
    background-color: #000000;
  }

  .ui-datatable .ui-datatable-data.ui-datatable-hoverable-rows > tr.ui-widget-content:not(.ui-state-highlight):hover {
    background-color: #eeeeee !important;
    cursor: pointer;
  }

  .ui-datatable .ui-datatable-data > tr > td {
    padding-left: @text-size-normal;
    background-color: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #ddd;
  }

  .ui-datatable .ui-datatable-data tr.ui-state-highlight {
    border-color: rgba(0,0,0,.33);
    font-weight: bold;
  }

  .ui-datatable .ui-datatable-data tr.ui-state-highlight a {
    color: #000000;
    font-weight: bold;
  }

  .ui-datatable .ui-datatable-data tr.ui-datatable-even.ui-state-highlight {
    background-color: rgba(0,0,0,.3);
    color: #000000;
    border-color: rgba(0,0,0,.33);
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    font-weight: bold;
  }

  .ui-datatable .ui-datatable-data tr.ui-datatable-even.ui-state-highlight a {
    font-weight: bold;
    color: #000000;
  }
  /*********************************************/
  /*            MENU STYLES                    */
  /*********************************************/
  .ui-menu {
    overflow: hidden;
    background-color: #ffffff;
  }

  .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link:hover,
  .ui-menu .ui-menu-list .ui-menuitem.ui-menuitem-active > .ui-menuitem-link {
    background-color: #eeeeee;
    border-radius: 0;
    color: #000000;
  }

  .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link {
    padding: 5px 10px 8px 5px;
    width: 100%;
    box-sizing: border-box;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: #373a3c;
  }

  .ui-menuitem-icon {
    padding: 7px;
    font-size: 15px;
  }

  .ui-menuitem-text {
    padding-left: 10px;
  }

  .mat-sidenav {
    background-color: #f3f3f3;
    border-right: #dddddd 1px solid;
    border-left: #dddddd 1px solid;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  }
  /*********************************************/
  /*            OVERLAY STYLES                 */
  /*********************************************/
  .ui-overlaypanel {
    padding: 0;
    margin: 0;
    position: absolute;
    left: 50% !important;
    margin-left: -180px;
    top: 200px !important;
  }

  .ui-overlaypanel-close {
    position: absolute;
    top: 100%;
    right: 0;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
  }

  .ui-overlaypanel .ui-overlaypanel-close {
    background-color: @color-highlight;
    color: #ffffff;
    border: 1px solid #c7c7c7;
    padding: 0.125em;
    border-radius: 15px;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
  /*********************************************/
  /*            UI BACKDROP STYLES             */
  /*********************************************/
  .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 2;
    visibility: hidden;
    background-color: rgba(0,0,0,.6);
  }

  .backdrop visible {
    visibility: visible;
  }
  /*********************************************/
  /*            UI DIALOG STYLES               */
  /*********************************************/
  .ui-widget input {
    font-size: 15px;
  }

  .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon {
    visibility: hidden;
  }

  .ui-dialog {
    z-index: 12 !important;
  }

  .ui-dialog .ui-dialog-titlebar .ui-dialog-title {
    margin: 0;
    float: none;
    font-weight: bold;
    font-family: roboto;
    text-transform: uppercase;
  }

  .row-picker[_ngcontent-c3] {
    position: relative;
    bottom: 5px;
    left: 4px;
    width: 40px;
  }

  .ui-confirmdialog {
    top: 150px !important;
    max-width: 300px;
    width: 95% !important;
    z-index: 100 !important;
    margin: 0;
  }

  .ui-state-active,
  .ui-state-highlight {
    background-color: rgba(0,0,0,.33);
    color: #000000;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    font-weight: bold;
  }
  /*********************************************/
  /*            UI BUTTON STYLES                */
  /*********************************************/
  .ui-button {
    background-color: @color-highlight;
    color: #fff;
  }

  .ui-button:enabled:hover,
  .ui-button:focus {
    background-color: @color-highlight;
    color: #fff;
  }

  .ui-button:enabled:active {
    background-color: @color-highlight;
    -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    color: #fff;
  }

  .ui-button-text {
    color: #fff;
  }
  /*********************************************/
  /*            BODY MATERIAL STYLES           */
  /*********************************************/
  .mat-input-container {
    width: 100%;
    font-size: 16px;
  }

  .mat-select-value-text {
    font-size: 16px;
  }

  .mat-option {
    height: 36px;
    line-height: 36px;
  }

  .mat-select-trigger {
    display: flex;
    align-items: center;
    height: 30px;
    min-width: 0;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    font-size: 15px;
  }

  .mat-option {
    font-size: 15px;
  }

  .mat-pseudo-checkbox {
    width: 18px;
    height: 18px;
  }

  .mat-dialog-container {
    max-width: none;
  }

  .mat-dialog-content {
    max-height: calc(100% - 110px);
    border-bottom: #eeeeee 1px solid;
    font-family: roboto;
  }

  .mat-dialog-title {
    text-align: center;
    font-family: roboto;
    color: #08203b;
    font-variant: small-caps;
    font-size: @text-size-large;
  }
}

/*********************************************/
/*            END BODY STYLES                */
/*********************************************/