<div class="header" style="display: table">
	<div style="display: table-row">
		<div class="header__body" style="display: table-cell">
			<div class="header__logo" *ngIf="logoDisplay"
				[ngStyle]="{'opacity': logoOpacity}"
				(click)="logoClicked()">
				<button md-raised-button class="logo-button">
					<img src="../assets/img/solu/logo-transparent.png">
        </button>
			</div>
			<div class="header__utility">
				<div class="header__utility__button-container">
					<solu-initial-symbol [initials]="initials" size="small" (click)="initialsClicked()"></solu-initial-symbol>
				</div>
			</div>
		</div>
	</div>
</div>