@import "../../styles.less";

.hover-mixin{
  cursor: pointer;
  -webkit-transition: background-color .15s;
  transition: background-color .15s;
  transition-timing-function: ease-in-out;

  &:hover{
    background-color: lighten(@color-brand, 10%);
  }
}

.header{
    width: 100%;
    display: table;
    background-color: @color-brand;
    box-shadow: @default-shadow;
}

.header__body{
  display: table-row;
}

.header__logo{
  float: left;
  display: inline-block;
  height: 46px;
  font-family: squada;
  color: #fff;
  font-size: 30px;
  letter-spacing: 1.5px;
  margin-left: 36px;
  -webkit-transition: opacity .15s;
  transition: opacity .15s;

  .hover-mixin();

  img{
    position: relative;
    bottom: 5px;
  }

  @media (max-width: 560px){
    margin-left: 0px;
  }
}

.logo-button{
  border-radius: 0px;
  height: 100%;
  min-width: 10px !important;
  width: 100%;
  box-shadow: none;
  vertical-align: top;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 0px !important;
  font-family: squada;
  color: #fff;
  font-size: 30px !important;
  letter-spacing: 1.5px;

  background-color: @color-brand;
  .hover-mixin();

  &:active{
    box-shadow: none !important;
  }
}

.header__utility{
  float: right;
  position: relative;
}

.header__utility__search-container{
    display: inline-block;
    height: 45px;
    padding: 7px 6px;
    position: relative;
    vertical-align: top;
    -webkit-transition: width .15s;
    transition: width .15s;
    transition-timing-function: ease-in-out;
}

.header__utility__button-container{
  display: inline;
  height: 46px;
  width: 46px;
  padding: 7px 8px;
  margin-right: 50px;
  float: right;
  
  .hover-mixin();

  @media(max-width: 560px){
    margin-right: 10px;
  }
}
